[submodule "TE0726-04-41C94-A-prebuilt"]
	path = TE0726-04-41C94-A-prebuilt
	url = https://github.com/jacekschneider/TE0726-04-41C94-A-prebuilt.git
[submodule "kas"]
	path = kas
	url = https://github.com/siemens/kas.git
